@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4">Company Management Tool</h1>
    <p class="lead">This website it designed for Employee use only. Manage inventory and customer information according to work regulations.</p>
</div>
<div class="list-group">
    <a asp-controller="Artist" asp-action="Index" class="list-group-item">Manage Artists</a>
    <a asp-controller="Borrower" asp-action="Index" class="list-group-item">Manage Borrowers</a>
    <a asp-controller="Disk" asp-action="Index" class="list-group-item">Manage Disks</a>
    <a asp-controller="DiskHasBorrower" asp-action="Index" class="list-group-item">Manage Checkouts</a>
</div>
